.register {
  display: flex;
  flex: 4;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: $color-light;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    gap: 1rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
  }

  &__form {
    width: 100%;
  }

  &__form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__input {
    margin-top: 0.5rem;
    padding: 0.5em;
    font-size: 1rem;
    border: 1px solid $color-primary-dark;
    border-radius: 0.5rem;
    background-color: transparent;

    &::placeholder {
      font-size: 0.75rem;
      color: rgba($color: $color-primary-dark, $alpha: 0.5);
    }

    &:focus {
      border-bottom: 2px solid $color-primary-dark;
    }

    &--error {
      border-color: $color-danger;
    }
  }
}
