.form {
  &__form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__input {
    margin-top: 0.5rem;
    padding: 0.5em;
    border: 1px solid $color-primary-dark;
    border-radius: 0.5rem;
    background-color: transparent;

    &::placeholder {
      font-size: 0.75rem;
      color: rgba($color: $color-primary-dark, $alpha: 0.5);
    }

    &:focus {
      border-bottom: 2px solid $color-primary-dark;
    }

    &--error {
      border-color: $color-danger;
    }
  }

  &__btn-wrapper {
    display: flex;
    gap: 0.5rem;
  }
}
