.not-found {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  min-height: 100vh;
  justify-content: space-between;
  background-color: $color-primary;
  color: $color-light;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 2rem;

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
  }
}
