.text--bold {
  font-weight: 700;
}

.text--light {
  font-weight: 300;
}

.text--3 {
  font-size: 0.75rem;
}

.text--5 {
  font-size: 1.25rem;
}

.text--6 {
  font-size: 1.5rem;
}

.text--8 {
  font-size: 2rem;
}

.text--center {
  text-align: center;
}

.text--danger {
  color: $color-danger;
}

.text--success {
  color: $color-success;
}

.text--capitalize {
  text-transform: capitalize;
}

.line-height--6 {
  line-height: 150%;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;

  &:hover {
    @include transition-ease(100ms);
  }
}

.btn-primary {
  background-color: $color-primary;
  color: $color-light;

  &:hover {
    background-color: $color-primary-light;
  }
}

.btn-primary-outline {
  padding: 0.5em 1em;
  background-color: transparent;
  color: $color-primary;
  border: 4px solid $color-primary;

  &:hover {
    color: $color-primary-light;
    border-color: $color-primary-light;
  }
}

a.btn-primary-outline {
  padding: 0.5em 1em;
}

.btn-outline-light {
  padding: 0.5em 1em;
  background-color: transparent;
  color: $color-light;
  border: 4px solid $color-light;
}

.btn-info {
  background-color: $color-primary-light;
  color: $color-light;

  &:hover {
    background-color: $color-primary-light;
  }
}

.btn-warning {
  background-color: $color-warning;
  color: $color-light;

  &:hover {
    background-color: $color-warning-light;
  }
}

.btn-danger {
  background-color: $color-danger;
  color: $color-light;

  &:hover {
    background-color: $color-danger-light;
  }
}

.btn-link {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.btn-disabled {
  background-color: #bbb;
  color: $color-light;
  cursor: initial;
}

.btn-lg {
  padding: 1em 2em;
}

.link-danger,
.link-danger:visited,
.link-danger:link {
  color: $color-danger;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}
