$color-primary: #0275d8;
$color-primary-dark: #015297;
$color-primary-light: #4e9ee4;
$color-success: #5cb85c;
$color-success-dark: #408140;
$color-success-light: #8dcd8d;
$color-info: #5bc0de;
$color-info-dark: #40869b;
$color-info-light: #8cd3e8;
$color-warning: #f0ad4e;
$color-warning-dark: #a87937;
$color-warning-light: #f5c683;
$color-danger: #d9534f;
$color-danger-dark: #983a37;
$color-danger-light: #e48784;

$color-dark: #292b2c;
$color-light: #f7f7f7;
